:root{
    --border-width: calc(var(--rows)*0.5);
    --total-height: calc(100vh - 70px);
}

@media screen and (max-width: 800px) {
    :root {
        --total-height: calc(100vh - 150px);
    }
}

.grid-row{
    height: calc(var(--total-height)/var(--rows));
    width: calc(100vw - var(--border-width));
    display: flex;
}

.grid-cell{
    height: 100%;
    width: calc(100vw/var(--cols));
    background-color: var(--bs-gray-100);
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visited{
    background-color: yellow;
}

.path{
    background-color: red;
}